<div class="container-fluid">
  <div class="row content">
    <br>
    <div class="col-sm-12">
      <div class="well">
        <h4>Period: Year 2015</h4>
        <span id="stateSpan">State</span>
        <select name="stateSelect" id="stateSelect" (change)="selectChangeHandler($event)">
          <option *ngFor="let stateState of totalStats_2015;" value="{{stateState.region}}">{{stateState.region}}</option>
        </select>
      </div>
      <div class="row">
        <div class="col-md-7">
          <div class="well alaskaBox">
            <p>State Statistics</p> 
            <ul class="list-content"  *ngFor="let stateState of displayStats;">
              <li>
                <div class="list_label_name">At Least One Measure</div>
                <div class="list_number">{{stateState.at_least_one_measure}}</div>
              </li>
              <li>
                <div class="list_label_name">immunization_measure</div>
                <div class="list_number">{{stateState.immunization_measure}}</div>
              </li>
              <li>
                <div class="list_label_name">syndromic_surveillance_measure</div>
                <div class="list_number">{{stateState.syndromic_surveillance_measure}}</div>
              </li>
              <li>
                <div class="list_label_name">reportable_lab_results_measure</div>
                <div class="list_number">{{stateState.reportable_lab_results_measure}}</div>
              </li>
              <li>
                <div class="list_label_name">stage_1_hospitals_all_measures</div>
                <div class="list_number">{{stateState.stage_1_hospitals_all_measures}}</div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-5 barCharts">
          <div class="well">
            <canvas id="designChart" width="300" height="100"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>